.bee {
    display: flex;
    border-radius: 15px;
    border: 1px solid var(--warning);
    margin: 5px;
    padding: 10px;
}

.bee > div > img {
    width: 120px;
}

.bee-info {
    align-self: center;
}

.bee-type > span {
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
}

.bee-type > span > span {
    margin-left: 5px;
}

.bee-stats {
    padding-bottom: 5px;
    margin-left: 36px;
}

.bee-stats > span {
    font-size: 12px;
}

.bee-hp {
    margin-left: 36px;
}

.bee-hp > span {
    display: inline-flex;
}

.bee-hp > span > span {
    margin-left: 5px;
}

.bee-damage {
    margin-left: 36px;
}

.bee-damage > span {
    display: inline-flex;
}

.bee-damage > span > span {
    margin-left: 5px;
}

.damaged-bee {
    width: 260px;
    display: flex;
    border-radius: 15px;
    border: 1px solid var(--pale);
    margin: 5px;
    padding: 10px;
    background-color: var(--pale);
}