footer > img {
    width: 100vw;
}

.flex-parent {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.flex-child {
    flex-basis: 375px;
}

.bee {
    display: flex;
}
