.flex-parent {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.flex-child {
    flex-basis: 300px;
}

.hive {
    display: flex;
    border-radius: 15px;
    margin: 5px;
    padding: 15px;
    border: 1px solid var(--warning);
}

.button {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 0;
    background-color: var(--warning);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.hit {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    border: 2px solid var(--warning);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    font-weight: 700;
}

input:focus {
    outline: none;
}

.player-form {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.player-form > img {
    width: 200px;
}

.player-form > .enter-name {
    font-weight: 500;
}

.player-form > div > .detail {
    font-size: 12px;
    color: var(--warning);
}

.game-over {
    text-align: center;
}

.game-over > img {
    width: 50vw;
}

footer {
    margin-top: 40px;
    bottom: 0;
}

footer > img {
    width: 100vw;
    margin-bottom: -8px;
}

header {
    top: 0;
    margin-bottom: 10px;
}

header > img {
    width: 100vw;
}