.game {
    --healthy: #2ECC71;
    --warning: #F1C40F;
    --sick: #E74C3C;
    --damage: #E67E22;
}

.healthy {
    color: var(--healthy);
}

.warning1 {
    color: var(--warning);
}

.warning2 {
    color: var(--warning);
}

.sick1 {
    color: var(--sick);
}

.sick2 {
    color: var(--sick);
}

.damage {
    color: var(--damage);
}

.flex-parent {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.flex-child {
    flex-basis: 300px;
}

.bee {
    display: flex;
    border-radius: 15px;
    border: 1px solid var(--warning);
    margin: 5px;
    padding: 15px;
}

.bee > div > img {
    width: 120px;
}

.bee-info {
    align-self: center;
}

.bee-type > span {
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
}

.bee-type > span > span {
    margin-left: 5px;
}

.bee-stats {
    padding-bottom: 5px;
    margin-left: 36px;
}

.bee-stats > span {
    font-size: 12px;
}

.bee-hp {
    margin-left: 36px;
}

.bee-hp > span {
    display: inline-flex;
}

.bee-hp > span > span {
    margin-left: 5px;
}

.bee-damage {
    margin-left: 36px;
}

.bee-damage > span {
    display: inline-flex;
}

.bee-damage > span > span {
    margin-left: 5px;
}

.damaged-bee {
    display: flex;
    border-radius: 15px;
    border: 1px solid var(--sick);
    margin: 5px;
    padding: 15px;
}

.damaged-bee > div > img {
    width: 120px;
}

.hive {
    display: flex;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

.hit-button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
}